/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter Variable', system-ui, sans-serif;
  font-weight: normal;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}