---
import { ArrowUpRight } from "lucide-astro";

import {
  MailCheck,
  Linkedin,
  Github,
  Twitter,
  Youtube,
  Instagram,
} from "lucide-astro";
import Layout from "@/layouts/Base.astro";
import Heading from "@/components/Heading.astro";

const social = [
  {
    name: "Email",
    icon: MailCheck,
    link: "mailto:sergiodev91@gmail.com",
  },
  {
    name: "LinkedIn",
    icon: Linkedin,
    link: "https://www.linkedin.com/in/sergiocode91/",
  },
  {
    name: "Github",
    icon: Github,
    link: "https://github.com/sergiocode91",
  },
  {
    name: "Twitter",
    icon: Twitter,
    link: "https://twitter.com/sergiocode_",
  },
  {
    name: "Youtube",
    icon: Youtube,
    link: "https://www.youtube.com/@sergiocode_",
  },
  {
    name: "Instagram",
    icon: Instagram,
    link: "https://www.instagram.com/sergiocode_",
  },
];
---

<Layout title="Sobre mí | Software Developer">
  <main class="py-16">
    <Heading title="Sobre mí" fontSize="4xl" isPage />
    <div class="flex flex-col gap-10 lg:gap-24">
      <!-- section -->
      <section class="flex flex-col lg:flex-row leading-normal gap-4 lg:gap-9">
        <h2 class="w-32 text-tertiary dark:text-primary">Sobre mí</h2>
        <div class="flex flex-col w-full text-sm lg:text-base text-tertiary dark:text-secondary gap-4 lg:gap-8">
          <p>¡Hola mundo, soy Sergio Rojas!</p>
          <p>
            Con más de 9 años de experiencia en el desarrollo de software, me he especializado en Angular y 
            JavaScript, liderando soluciones de alto rendimiento que han dejado una huella significativa tanto en empresas multinacionales como en startups emergentes.
          </p>
          <p>
            Además de mi pasión por codificar, me dedico a crear contenido educativo. En mi canal de 
            <a href="https://www.youtube.com/@sergiocode_" target="_blank" class="underline decoration-dashed underline-offset-4 decoration-1">Youtube</a>, 
            comparto mi conocimiento sobre tecnología, vlogs creativos y desarrollo personal, todo con el objetivo de mejorar tu aprendizaje y mostrarte cómo la programación puede transformar tu vida.
          </p>
          <p>
            Cuando no estoy sumergido en el mundo del código, probablemente me encontrarás levantando pesas, 
            jugando videojuegos o disfrutando de un buen café en alguna cafetería local.
          </p>
        </div>
      </section>
      <!-- section -->
      <section class="flex flex-col lg:flex-row leading-normal gap-4 lg:gap-9">
        <h2 class="w-32 text-tertiary dark:text-primary">Conectar</h2>
        <div class="flex flex-col w-full text-sm lg:text-base text-tertiary dark:text-secondary gap-4 lg:gap-8">
          <p>
            ¿Tienes alguna pregunta o simplemente quieres charlar? No dudes en enviarme un correo electrónico 
            o conectar con mis redes.
          </p>
          <div class="grid grid-cols-1 lg:grid-cols-2 text-sm mt-3 lg:mt-0 gap-2">
            {
              social.map(({ name, icon: Icon, link }: any): any => (
                <a
                  href={link}
                  target="_blank"
                  class="w-full border rounded-lg p-4 transition border-tertiary/20 dark:border-primary/20 dark:hover:text-primary dark:hover:bg-white/5 dark:hover:border-primary"
                >
                  <div class="flex items-center gap-3">
                    <Icon class="w-4 h-4" />
                    {name}
                    <ArrowUpRight class="w-4 h-4 ml-auto" />
                  </div>
                </a>
              ))
            }
          </div>
        </div>
      </section>
      <!-- section -->
      <section class="flex flex-col lg:flex-row leading-normal gap-4 lg:gap-9">
        <h2 class="w-32 text-tertiary dark:text-primary">Experiencia</h2>
        <div class="flex flex-col w-full text-sm lg:text-base text-tertiary dark:text-secondary gap-4 lg:gap-8">
          <p>Más de 9 años de experiencia en desarrollo profesional.</p>
          <p>
            Actualmente, soy Sr. Software Engineer en Cencosud S.A., una de las cadenas de retail más grandes 
            y diversificadas de América Latina, donde continúo aplicando y expandiendo mis habilidades 
            en el desarrollo de soluciones de alto rendimiento.
          </p>
          <div class="flex flex-col mt-6 lg:mt-0 gap-8">
            <div class="flex justify-between">
              <div class="flex items-center gap-4">
                <div class="w-10 h-10 lg:w-12 lg:h-12 rounded-full overflow-hidden bg-neutral-100 dark:bg-neutral-800">
                  <img src="https://media.licdn.com/dms/image/C4E0BAQHPwGe8jr5xsQ/company-logo_200_200/0/1630596662867/cencosud_s_a__logo?e=1721260800&v=beta&t=wjHqQY9zASQ2oLvozLrTbKOnLtO1Y4RuxvrM4n6ZDl8" alt="Cencosud S.A.">
                </div>
                <div class="text-sm lg:text-base">
                  <p class="font-medium dark:text-primary">Sr. Software Engineer</p>
                  <p class="text-sm text-tertiary/70 dark:text-secondary">Cencosud S.A.</p>
                </div>
              </div>
              <p class="text-tertiary/70 dark:text-secondary">2021 - Actualidad</p>
            </div>
            <div class="flex justify-between">
              <div class="flex items-center gap-4">
                <div class="w-10 h-10 lg:w-12 lg:h-12 rounded-full overflow-hidden bg-neutral-100 dark:bg-neutral-800">
                  <img src="https://media.licdn.com/dms/image/C4E0BAQE0Mk6HnpdVOQ/company-logo_200_200/0/1660058958958/witichile_logo?e=1721260800&v=beta&t=IA_uOVOg_VHwTjlhnerxlQLCh6HfBph3HNeRzfXmzGE" alt="WiTi">
                </div>
                <div class="text-sm lg:text-base">
                  <p class="font-medium dark:text-primary">Sr. Front-End Developer</p>
                  <p class="text-sm text-tertiary/70 dark:text-secondary">WiTi</p>
                </div>
              </div>
              <p class="text-tertiary/70 dark:text-secondary">2019 - 2021</p>
            </div>
            <div class="flex justify-between">
              <div class="flex items-center gap-4">
                <div class="w-10 h-10 lg:w-12 lg:h-12 rounded-full overflow-hidden bg-neutral-100 dark:bg-neutral-800">
                  <img src="https://media.licdn.com/dms/image/C560BAQH2B3PiO7d7Jw/company-logo_200_200/0/1631380469424?e=1721260800&v=beta&t=5MO8bLqA5Glb9Sy15TuQ4w3Cx3IwhkmMvGZeepjDfsc" alt="GearSolutions">
                </div>
                <div class="text-sm lg:text-base">
                  <p class="font-medium dark:text-primary">Front-End Developer</p>
                  <p class="text-sm text-tertiary/70 dark:text-secondary">GearSolutions</p>
                </div>
              </div>
              <p class="text-tertiary/70 dark:text-secondary">2018 - 2019</p>
            </div>
            <div class="flex justify-between">
              <div class="flex items-center gap-4">
                <div class="w-10 h-10 lg:w-12 lg:h-12 rounded-full overflow-hidden bg-neutral-100 dark:bg-neutral-800">
                  <img src="https://media.licdn.com/dms/image/C4E0BAQEGYeq0molBig/company-logo_100_100/0/1630580098282?e=1721260800&v=beta&t=ZbqmP-hm6dosVJVmRMd_UYmrwi23Fd-7rVrlfKjz0XE" alt="Grow Studio">
                </div>
                <div class="text-sm lg:text-base">
                  <p class="font-medium dark:text-primary">Front-End Developer</p>
                  <p class="text-sm text-tertiary/70 dark:text-secondary">Grow Studio</p>
                </div>
              </div>
              <p class="text-tertiary/70 dark:text-secondary">2014 - 2018</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
