---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Base.astro";
import Posts from "@/layouts/Posts.astro";
import Heading from "@/components/Heading.astro";

const posts = (await getCollection("blog"))
  .filter((p) => p.data.published)
  .sort((a, b) => new Date(b.data.createdDate).getTime() - new Date(a.data.createdDate).getTime());
---

<Layout title="Blog | Software Developer">
  <main class="py-16">
    <Heading title="Blog" fontSize="4xl" />
    <Posts posts={posts} />
  </main>
</Layout>
