---
import Layout from "@/layouts/Base.astro";
import Heading from "@/components/Heading.astro";
---

<Layout title="Proyectos | Software Developer">
  <main class="py-16">
    <Heading title="Proyectos" fontSize="4xl" />
  </main>
</Layout>
