---
import FormattedDate from "@/components/FormattedDate.astro";

const { author, authorImage, createdDate, minutesRead, slug } = Astro.props;
---

<div class="flex items-center">
  <img class="w-10 h-10 rounded-full" src={authorImage} alt={author} />
  <div class="text-sm ml-4">
    <h2 class="text-tertiary dark:text-primary">{author}</h2>
    <p class="font-light text-tertiary dark:text-secondary">
      <FormattedDate date={new Date(createdDate)} /> ·
    </p>
  </div>
</div>
<div id="views" data-slug={slug} class="text-sm lg:text-base text-tertiary dark:text-secondary leading-normal mt-4">
  Vistas: 0
</div>
<script type="module" src="/lib/supabaseClient.js" />
