---
import FormattedDate from '@/components/FormattedDate.astro';

type Props = {
  title: string;
  description: string;
  createdDate: string;
  author?: string;
  authorImage?: string;
  slug?: string;
}

const { title, description, createdDate, slug } = Astro.props;
---

<article class="flex flex-col text-primary mb-10">
  <a href={`/blog/${slug}`}>
    <h3 class="font-secondary text-2xl leading-tight hover:underline hover:decoration-dashed hover:underline-offset-4 hover:decoration-1">
      {title}
    </h3>
    <div class="font-light text-sm text-secondary leading-normal mt-1">
      <FormattedDate date={new Date(createdDate)} />
    </div>
    <div class="font-light leading-normal mt-3">{description} </div>
  </a>
</article>
