---
import LanguagesToggle from '@/components/LanguagesToggle.astro';
---

<div class="flex items-center justify-between text-sm leading-normal text-tertiary dark:text-secondary pt-10 pb-14 mt-5 lg:mt-14 border-t border-gray-200 dark:border-gray-100/10">
  <div class="flex gap-2">
    Developed with
    <img src="/astro_light.svg" alt="Astro" class="w-5 h-5 dark:hidden" />
    <img src="/astro_dark.svg" alt="Astro" class="w-5 h-5 hidden dark:block" /> ©
    Sergio Rojas. 2024
  </div>
  <LanguagesToggle />
</div>
