---
import { Moon } from 'lucide-astro';
---

<header class="py-5">
  <div class="flex items-center justify-between text-secondary">
    <a href="/">
      <img 
        src="/logo.svg" 
        alt="Sergio Rojas" 
        class="w-8 h-8"
      />
    </a>
    <nav class="flex text-sm gap-6">
      <a href="/about">Sobre mí</a>
      <a href="/blog">Blog</a>
      <a href="/projects">Proyectos</a>
    </nav>
    <div>
      <button>
        <Moon size="20" />
      </button>
    </div>
  </div>
</header>
