---
type Props = {
  title: string;
  fontSize: string;
  isItalic?: boolean;
};

const { title, fontSize, isItalic } = Astro.props;
---

<h2 class={`font-secondary text-xl lg:text-${fontSize} text-tertiary dark:text-primary ${isItalic ? 'italic': ''} mb-16`}>
  {title}
</h2>
