---
import ThemeToggle from '@/components/ThemeToggle.astro';
---

<header class="py-5">
  <div class="flex items-center justify-between text-tertiary dark:text-secondary">
    <a href="/" class="relative">
      <img src="/logo_light.svg" alt="Sergio Rojas" class="w-8 h-8 dark:hidden inset-0 absolute" />
      <img src="/logo_dark.svg" alt="Sergio Rojas" class="w-8 h-8 dark:block" />
    </a>
    <nav class="hidden lg:flex text-sm gap-6">
      <a href="/about" class="font-secondary text-base hover:underline hover:decoration-dashed hover:underline-offset-4 hover:decoration-1">Sobre mí</a>
      <a href="/blog" class="font-secondary text-base hover:underline hover:decoration-dashed hover:underline-offset-4 hover:decoration-1">Blog</a>
      <a href="/projects" class="font-secondary text-base hover:underline hover:decoration-dashed hover:underline-offset-4 hover:decoration-1">Proyectos</a>
    </nav>
    <ThemeToggle>
  </div>
</header>
