---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

import ThemeToggle from '@/components/ThemeToggle.astro';

const pathname = new URL(Astro.request.url).pathname;

const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

const { currentLocale } = Astro;
---

<header class="py-5">
  <div class="flex items-center justify-between text-tertiary dark:text-secondary">
    <a href="/" class="relative">
      <img src="/logo_light.svg" alt="Sergio Rojas" class="w-8 h-8 dark:hidden inset-0 absolute" />
      <img src="/logo_dark.svg" alt="Sergio Rojas" class="w-8 h-8 dark:block" />
    </a>
    <nav class="hidden lg:flex text-sm gap-6">
      <a 
        href={getRelativeLocaleUrl(currentLocale ?? '', 'about')}
        class={`
          font-secondary text-base hover:underline hover:decoration-dashed hover:underline-offset-4 hover:decoration-1 
          ${pathname.startsWith('/about') ? 'underline decoration-dashed underline-offset-4 decoration-1 ' : ''}
        `}
      >
        {translate('nav.about')}
      </a>
      <a 
        href={getRelativeLocaleUrl(currentLocale ?? '', 'blog')}
        class={`
          font-secondary text-base hover:underline hover:decoration-dashed hover:underline-offset-4 hover:decoration-1
          ${pathname.startsWith('/blog') ? 'underline decoration-dashed underline-offset-4 decoration-1 ' : ''}
        `}
      >
        {translate('nav.blog')}
      </a>
      <a 
        href={getRelativeLocaleUrl(currentLocale ?? '', 'projects')}
        class={`
          font-secondary text-base hover:underline hover:decoration-dashed hover:underline-offset-4 hover:decoration-1
          ${pathname.startsWith('/projects') ? 'underline decoration-dashed underline-offset-4 decoration-1 ' : ''}
        `}
      >
        {translate('nav.projects')}
      </a>
    </nav>
    <ThemeToggle>
  </div>
</header>
 