---
import Button from "@/components/Button.astro";
---

<section class="text-primary mb-28 space-y-7">
  <img src="/avatar.png" alt="Sergio Rojas" class="w-16 h-16 rounded-full" />
  <h1 class="font-secondary text-5xl">Hey, Soy Sergio! 游녦</h1>
  <p class="max-w-2xl font-light leading-normal">
    Software Developer con m치s de 8 a침os de experiencia y creador de contenido.
    Mi objetivo es mejorar tu aprendizaje y mostrarte c칩mo la programaci칩n puede
    transformar tu vida!
  </p>
  <Button href="/contact" label="Hablemos" />
</section>
