<script>
  document.addEventListener("astro:page-load", () => {
    const getTheme = (): "light" | "dark" => {
      const storedTheme = localStorage.getItem("theme");
      if (storedTheme === "light" || storedTheme === "dark") {
        return storedTheme;
      }
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    };

    const setTheme = (theme: "light" | "dark") => {
      document.documentElement.classList.toggle("dark", theme === "dark");
      localStorage.setItem("theme", theme);
      document
        .querySelector(".icon-dark")
        ?.classList.toggle("hidden", theme !== "dark");
      document
        .querySelector(".icon-light")
        ?.classList.toggle("hidden", theme === "dark");
    };

    setTheme(getTheme());

    document.getElementById("theme-toggle")?.addEventListener("click", () => {
      const newTheme: "light" | "dark" =
        document.documentElement.classList.contains("dark") ? "light" : "dark";
      setTheme(newTheme);
    });
  });
</script>

<button id="theme-toggle">
  <div class="icon-dark hidden w-3 h-3 rounded-full bg-secondary"></div>
  <div class="icon-light w-3 h-3 rounded-full bg-primary"></div>
</button>
