---
import Card from "../components/Card.astro";

const { posts } = Astro.props;
---

<div>
  {
    posts.map((post: any) => (
      <Card
        title={post?.data.title}
        description={post?.data.description}
        createdDate={post?.data.createdDate}
        slug={post?.slug}
      />
    ))
  }
</div>
  